*{
    color: white;
    margin: 0 ;
    padding: 0 ;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

#bg{
    background-image:   url('../imagens/background1.png');
    background-size: cover;
}

::-webkit-scrollbar {
  width:  5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba( 0, 0 , 0 , 1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: brown;
  border-radius: 10px ; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

.rodapePag{
    background-color: black;
    width: 100%;
    text-align: center;
}
