/*---------------MOBILE PORT--------------*/

@media screen and (max-width:720px) {


    #navbar {
        font-size: 0.65em;
        position: fixed;
        border-radius: 0px;
        width: 100%;
        height: 3vh;
    }


    .blocoMain {
        width: 85vw;
    }


    .typewriter h1 {
        font-size: 1.5em;
    }

    #bemVindo{
        font-size: 1.4em;
    }

    #blocoCon{
        width: 85vw;
    }

    #blocoProj, #blocoHob{        
        width: 85vw;
        display: flex;
    }

    #blocoProj ul, #blocoHob ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    #blocoProj img, #blocoCon img, #blocoHob img{
        min-width: 14vw;
    }
}