#navbar{
    z-index: 1;
    position: fixed;
    width: min-content;
    top: 0;
    border-bottom-right-radius: 20px;
    height: fit-content;
    backdrop-filter: grayscale(60%) blur(25px);
}

.itmNav{
    float: left;
    padding: 5px;
    text-decoration: none;
}

.itmNav:hover{
    color: brown;
}

/*-------animação-------*/


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .reveal2{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal2.active{
    transform: translateY(0);
    opacity: 1;
  }