#navbar{
    position: fixed;
    width: min-content;
    top: 0;
    border-bottom-right-radius: 20px;
    height: fit-content;
    backdrop-filter: grayscale(60%) blur(25px);
}

.itmNav{
    float: left;
    padding: 10px;
    text-decoration: none;
}

.itmNav:hover{
    color: brown;
}

