nav{
    position:fixed;
    width: 7vw;
    border-bottom-right-radius: 20px;
    height: fit-content;
    backdrop-filter: grayscale(60%) blur(25px);
}

.itmNav{
    float: left;
    padding: 10px;
    text-decoration: none;
}

.itmNav:hover{
    color: brown;
}