.typewriter h1 {
  margin: 0 auto;
  overflow: hidden; /* mantém o bloco invisível até a animação começar */
  border-right: .15em solid; /* o efeito de "barra de digitação" */
  white-space: nowrap; /* mantém o texto em uma única linha */
  letter-spacing: .15em; /* ajusta o espaçamento entre as letras */
  text-align: center;
  max-width: fit-content;
  animation:   /* define as animações */
  appear 2s steps(96, end),  
  typing 4s steps(96, end),
  blink-caret .75s step-end infinite;
}

/* o efeito de aparecimento */

@keyframes appear{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
/* o efeito de escrita */
@keyframes typing {
  from { width: 0 }
  to { width: 100%;}
}

/* o efeito da barra piscando */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(231, 132, 56); }
}

/* Config da fonte do typewriter de bem vindo*/

#bemVindo{
  font-size: 2em;
}

/* base dos blocos */

.blocoMain{
  text-align: center;
  padding: 2vw;
  margin: auto; 
  min-width: 20%; 
  width: 30%;
  border-radius: 20px;
  height: fit-content;
  backdrop-filter: blur(0.5em) invert(20%);
}

/* bloco de perfil*/

#perfil img{
  border-radius: 50%;
  width: 15em;
}
#perfil p{
  padding-top: 2em;
  font-size: 1.2em;
  width: 100%;
}

/* bloco de conhecimentos*/

#blocoCon{
width: fit-content;
}

#blocoCon img{
  margin: 0.5em;
  min-width: 5em;
  width: 5vw;
}

/* blocos de projetos e hobbies*/

#blocoProj, #blocoHob{
  display: flex;
  width: fit-content;
}

#blocoHob ul, #blocoProj ul{
  display: flex;
  align-content: center;
  list-style: none;
}

#blocoHob li, #blocoProj li{
  display: flexbox;
  padding-left: 1vw;
  padding-right: 1vw;
  width: min-content;
}
  
#blocoHob img, #blocoProj img{
    margin: 0.5em;
    min-width: 5em;
    width: 5vw;
}

/* bloco de contatos*/

#blocoContato{
  width: fit-content;
}

#blocoContato img{
  padding-left: 0.5em;
  padding-right: 0.5em;
  min-width: 4em;
  width: 5vw;
}
