.typewriter h1 {
  margin: 0 auto;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  text-align: center;
  max-width: fit-content;
  animation:
  appear 4s steps(96, end),  
  typing 4s steps(96, end),
  blink-caret .75s step-end infinite;
}

@keyframes appear{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100%;}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(30, 32, 33); }
}



.blocoMain{
  text-align: center;
  padding: 2vw;
  margin: auto; /* arrumar*/
  min-width: 20%; /* arrumar*/
  width: 30%; /* arrumar*/
  border-radius: 20px;
  height: fit-content;
  backdrop-filter: blur(15px) invert(20%);
}

#perfil{
  min-width: 300px;
}

#perfil img{
  border-radius: 50%;
  width: 200px;
}
#perfil p{
  padding: 10px;
  padding-top: 2em;
  font-size: 18px;
  width: 100%;
}



#blocoCon{
width: fit-content;
}

#blocoCon img{
  margin: 0.5em;
  min-width: 5em;
  width: 5vw;
}

#blocoHob{
  width: fit-content;
  }
  
  #blocoHob img{
    margin: 0.5em;
    min-width: 5em;
    width: 5vw;
  }

#blocoContato{
  width: fit-content;
}

#blocoContato img{
  margin: 1em;
  min-width: 4em;
  width: 5vw;
}
