@import "global.css";


.typewriter{
  width:100%;
  text-align: center;
}


.typewriter h1 {
  margin: 0 auto;
  overflow: hidden; /* mantém o bloco invisível até a animação começar */
  border-right: .15em solid; /* o efeito de "barra de digitação" */
  white-space: nowrap; /* mantém o texto em uma única linha */
  letter-spacing: .15em; /* ajusta o espaçamento entre as letras */
  max-width: max-content;
  animation:   /* define as animações */
  typing 4s steps(120, end),
  blink-caret .75s step-end infinite;
}
/* o efeito de escrita */
@keyframes typing {
  from { width: 0 }
  to { width: 100%}
}

/* o efeito da barra piscando */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--bold); }
}

/* Config da fonte do typewriter de bem vindo*/

#bemVindo{
  font-size: 2em;
  top:35%;
  position: relative;
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  padding:1em;
}

h1{
  font-size: 2em;
}

h2{
  margin: .5em;
  font-size: 1.1em;
}

p{
  margin: auto;
  padding-top: 2em;
  font-size: 1.2em;
  width: 30%;

}

#perfil img{
  margin: 1.5em;
  border-radius: 50%;
  width: 15em;
}

/* bloco de conhecimentos*/

#hobbies, #conhecimentos{
  top:35%;
  position: relative;
  border-radius: 20px;
  backdrop-filter: invert(10%)blur(15px);
  width: fit-content;
  margin: auto;
  padding:1em;
}

#conhecimentos img, #proj img, #hobbies img{
  margin: 0.5em;
  min-width: 5em;
  width: 5vw;
}

#hobbies ul{
  list-style: none;
}

#hobbies ul li{
  padding: 15px;  
  display: inline-block;
  
}