@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-module: #010617;
    --white: #ffffff;
  }

section {
    position: sticky;
    height: fit-content;
}

section:nth-child(2n) {
    min-height: 800px;
}

section:nth-child(2n +1) {
    background-color: var(--bg-module);
}

#main, #conhecimentos {
    background-image: url(/assets/imgs/1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom;
}
#main {
    background-image: url(/assets/imgs/1.jpg);
}

#conhecimentos {
    background-image: url(/assets/imgs/2.webp);
}

#ap-main, #conhecimentos-main {
    top: 35vh;
    margin: auto;
}

#nav {
    z-index: 10;
    width: 24%;
    margin: auto auto auto 38%;
    position: fixed;
    border-bottom: 2px solid #21DED5;
    border-right: #FF9635 solid 2px;
}

#myLinks {
margin: auto;
}

#hamburguer {
    display: none;
}

section > div {
    position: relative;
    width: fit-content!important;
    border-bottom: #21DED5 solid 4px;
    border-right: #FF9635 solid 4px;
}

#projetos-main {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

#grid-projetos {
    border: none
}

#projetos h1, #conhecimentos h1, #contatos-main h1 {
    padding-top:50px
}

#grid-projetos{
    padding: 50px 0;
    margin:auto;
    min-height: max-content;
    min-width: 600px;
    max-width: 1200px;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    grid-template-columns: repeat(auto, 300px);
    grid-gap: 25px;
}

.card-projetos {
    color: #ffffff;
    background-color: rgb(0,0,0);
    border-radius: 25px;
    padding:10px;
    text-align: center;
    width: 250px!important;
    height: 395px;
}

.card-projetos img {
    margin:0 auto;
    min-width: 200px;
    width: 200px;
    min-height: 200px;
    height: 200px;
}

.btn-card{
    margin: 10px;
}

.btn-card button {
    color: white;
    background-color: var(--bg-module);
    border-bottom: #21DED5 solid 2px;
    border-right: #FF9635 solid 2px;
    border-radius: 5px;
    padding: 2px 5px;
}


.btn-card button:disabled {
    color: grey;
    background-color: rgb(28, 28, 29);
    border-bottom: darkslateblue solid 2px;
    border-right: darkgoldenrod solid 2px;
}

#conhecimentos-main {   
    padding:20px;
    background-color: var(--bg-module);
}

#grid-conhecimentos {
    display: grid;
    grid-template-columns: repeat(3,150px);
}

#grid-conhecimentos img {
    margin:10px;
    width: 100px;
    height: 100px;
}

#contatos-main {
    border: none;
    margin: auto;
}

#grid-contatos {
    padding: 30px;
    justify-content: space-between;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 150px);
}

@media screen and (max-width:810px) {
    #nav {
        width: 40px;
        margin: 0;
    }

    #hamburguer {
        display: inline;
    }

    #myLinks {
        position: absolute;
        display: none;
        grid-template-columns: repeat(auto, 100vw);
    }

    #ap-main h3 {
        font-size: 20px;
    }

    #projetos h1, #conhecimentos h1, #contatos-main h1 {
        padding:20px 0;
        font-size: 30px;
    }

    #grid-projetos {
        grid-template-columns: repeat(2,45vw);
        grid-template-rows: repeat(2, auto);
        grid-gap: 5vw;
        width: 100vw;
        min-width: 100vw;
        padding:0;
    }

    .card-projetos {
        font-size: 10px;
        border-radius: 15px;
        padding:5px;
        text-align: center;
        margin: 0;
        width: 40vw!important;
        height: 200px;
    }
    
    .card-projetos img {
        margin:0 auto;
        min-width: 80px;
        width: 80px;
        min-height: 80px;
        height: 80px;
    }
    
    .btn-card{
        margin: 10px;
    }

    #conhecimentos-main {
        width: 100vw!important;
    }

    #grid-conhecimentos, #grid-contatos{
        grid-template-columns: repeat(3,30vw);
        padding:0px;
    }

    footer {
        font-size: 12px;
    }

    footer img {
        padding-top: 2px;
        height: 35px;
        width: 25px;
    }
  }
  